@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4" style="justify-content: flex-start;">
            <a class="navbar-brand" style="margin-left:0px;" href="">To Do App</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
